 body, button, input, select, textarea { font: 14px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif}
 a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
margin: 0;
padding: 0;
border: 0;
}
.clear { clear:both;}
ul,ol,li{ list-style:none;}
a {text-decoration: none;color: #555;}
em, i {font-style: normal;}
.l { float:left;}
.r { float:right;}

/* top */
.top { width: 100%; height: 90px; background: #eeeeee;}
.top img { margin-left: 20px;}
.centont {width: 1000px; margin: 0 auto;}
.loginhou {margin: 20px 20px 0 0; line-height: 25px;  font-size: 14px;}
.loginhou li { float: left; }
.loginhou li a{ display: inline-block; width: 104px; height: 38px; line-height: 38px; text-align: center; font-size: 16px;border: 1px solid #415fa2; border-radius: 3px; color: #415fa2; margin-left: 20px; }
.loginhou a.on {width: 104px; height: 38px; line-height: 38px; text-align: center; font-size: 16px; border: 1px solid #415fa2; border-radius: 3px; background: #415fa2; color: #fff;}
.in-ewm img{ display: block; margin-left: 20px;}
.nav { clear: both; height: 60px; line-height: 60px;  font-size: 14px;}
.nav li { float: left; width: 125px; text-align: center;}
.nav li a.on { color: #3974b6; border-bottom: 2px solid #3974b6;padding: 10px 15px 20px 15px;}
.nav li a:hover {color: #3974b6;border-bottom: 2px solid #3974b6;padding: 10px 15px 20px 15px;}
.login { position: absolute;top: -285px; right: 0; width: 290px; height: 270px; background-color: rgba(50,60,84,0.7);}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
.login{
    background-color:#2a2f40;
    filter:Alpha(opacity=70);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; }
.login ul{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
  }  
}
.login .login-nr{ padding: 15px 26px 26px 26px;} 
.login .login-anniu { border-bottom: 1px solid #596b93; padding-bottom: 3px;}
.login .login-anniu a{ font-size: 14px; color: #fff; margin-right: 20px;}
.login .login-anniu a.on { color: #f5671b; border-bottom: 1px solid #f5671b; padding-bottom: 5px;}
.login .login-nr li { margin-top: 10px;}
.login .login-nr .login-name { position: relative; z-index: 9; width: 238px; height: 32px; background: #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px; behavior: url(ie-css3.htc); }
.login .login-nr .login-name input{ width: 200px; height: 28px; margin-left:5px;border:none; outline: none; }
.login .login-nr .login-name img{ vertical-align: middle;}
.login .login-nr .login-yanzengm .login-yzmpic {position: relative; z-index: 9; display: inline-block;height: 32px;
 margin-right: 10px; padding-right: 5px; background: #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px; behavior: url(ie-css3.htc);}
.login .login-nr .login-yanzengm .login-yzmpic1 {position: relative;top: -4px; z-index: 9; display: inline-block; width: 77px; height: 32px;padding-right: 5px; background: #fff; -moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px; behavior: url(ie-css3.htc);}
.login .login-nr .login-yanzengm input { width: 110px; height: 28px; margin-left:5px; border:none; outline: none; }
.login .login-nr .login-yanzengm img,.login-yzmpic1 img{ margin-bottom:-6px;padding-right: 8px; }
.login .login-nr .login-forget a {position: relative;bottom: 6px; color: #fff; text-align: center;}
.login .login-nr .login-forget span { width: 85px; display: inline-block;margin-bottom: 10px;border-bottom: 1px solid #596b93; }
.login .login-nr .iogin-bu1 { width: 100px; height: 32px; background: #226fb6; font-size: 14px; color: #fff; border: none;  border-radius: 3px; cursor: pointer;}
.login .login-nr .iogin-bu2 { float: right; width: 100px; height: 32px; background: #506f99; font-size: 14px; color: #fff; border: none;  border-radius: 3px;cursor: pointer;}
.tongzhi { height: 260px; padding: 20px 0; }
.tongzhi img { display: block;}

.in-advert { width: 483px; margin-left: 16px; font-size: 14px;}
.in-advert .ad-list li i{ width: 2px; height: 2px; display: inline-block;margin-bottom: 4px;margin-right: 5px; background: #333; }
.in-advert .ad-list a { float: left;width:383px; margin-top: 9px;  display:block;color: #666; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }
.in-advert .ad-list a:hover {color:#4879bc;}
.in-advert .ad-list span {float: right; display:block;margin-top: 9px;width: 100px; color: #999999; text-align: right;}

.advert { width: 580px; margin-left: 20px; font-size: 14px;}
.advert .ad-list li i{ width: 2px; height: 2px; display: inline-block;margin-bottom: 4px;margin-right: 5px; background: #333; }
.advert .ad-list a { float: left;width:480px; margin-top: 9px;  display:block;color: #666; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }
.advert .ad-list a:hover {color:#4879bc;}
.advert .ad-list span {float: right; display:block;margin-top: 9px;width: 100px; color: #999999; text-align: right;}
.ad-gengduo { height: 36px; line-height: 36px; background: #e8e8e8;}
.ad-gengduo  span {border-left: 4px solid #4879bc; color:#4879bc; padding:2px 5px;}
.ad-gengduo .ad-more {display: inline-block;margin-right: 10px;float: right;}
.ad-gengduo .ad-more:hover { color: #4879bc; }
.fast-rukou { clear: both; padding: 20px 0;} 
.fast-rukou-pic { margin-right: 18px;}

/* 新增样式 */
.fast-rukou1 { clear: both; margin-top: 20px;} 
.in-banner-dian { position: absolute;bottom: 20px;right: 50%; }
.in-banner-dian li{ display: inline-block; width: 9px; height: 9px; margin: 0 4px; border-radius: 5px; background: #dcdcdc; }
.in-banner-dian li.on {background: #4684e0;}
.small-picbanner {position: relative; color: #fff;}
.small-picbanner img { display: block; }
.small-picdian1 { position: absolute; bottom: 0; height: 36px; line-height: 36px; width: 250px; padding-left: 10px; background: rgba(0,0,0,0.3); }
.small-picdian1 ul { float: right; margin-right: 15px;}
.small-picdian1 li{ display: inline-block; width: 8px; height: 8px; margin: 0 1px; border-radius: 5px; background: #fff; }
.small-picdian1 li.on {background: #453abd;}
.in-yztg li{ float: left; }
.in-yztg li a { display: inline-block; width: 164px; height: 116px; text-align: center; padding-top: 14px; background: #f1f2f3; margin:0 4px 0 18px;  }
.in-haiguan {position: absolute; left:-90px; top: 20px;}
.in-haiguan img { display: block; margin-bottom: 1px; }
.in-kefuqq {position: absolute; right:-95px; top: 20px;}
.in-kefuqq img { display: block;}
.public-bj { width: 400px; height: 40px; line-height: 40px; padding-left: 35px; font-size: 16px; color: #fff; background: url(../img/toupic43.jpg) no-repeat;}
.public-bj .ad-more {float: right;display: inline-block;margin-right: 10px; font-size: 16px; color: #999;}
.jinj-hangyun li { width: 312px; color: #666666;}
.jinj-hangyun .juli { margin-right: 32px; }
.jinj-title { font-size: 16px; color: #333333; line-height: 33px; }
.jinj-hangyun .anniu a{ width: 120px; height: 34px; line-height: 34px; text-align: center; color: #226fb6; display: inline-block; border: 1px solid #226fb6; border-radius: 4px; margin-top: 25px; }
.jinj-zygk li{ float: left; width: 235px; height: 120px; font-size: 16px; background: url(../img/toupic51.jpg) no-repeat; }
.jinj-zygk .juli { margin-right: 20px; }
.jinj-zygk li div { color: #226fb6; text-align: center; margin-bottom: 20px;}
.jinj-zygk li span {color: #666666; margin-left: 25px; text-align: left; display: inline-block; margin-bottom: 10px;}
.jinj-hangx { font-size: 16px; color: #333333; }
.jinj-hangx span { width: 68px; padding: 2px 0; display: inline-block; text-align: center; font-size: 20px; color: #a2a6ad; border-top: 1px solid #a2a6ad; border-bottom: 1px solid #a2a6ad; margin-bottom: 20px; }
.jinj-hangx u { width: 136px;display: inline-block; color: #226fb6; margin-left:26px ; text-decoration: none; }
.jinj-massge li{ width: 480px; color: #666; margin-bottom: 17px; }
.jinj-ggnr { width: 325px;margin-left: 15px; }
.hubei { width: 1000px; height: 360px; background: url(../img/toupic84.jpg) no-repeat; }
.hubei li { float: left; width: 250px; color: #fff; }
.hubei-gzpart {  width: 250px; height: 360px; background: rgba(72,109,191,0.7);}
.hubei-gzpart span { display: block; text-align: center; font-size: 16px; }
.hubei-gzpart span img { margin: 30px 0 10px 0; padding-bottom: 20px; border-bottom: 1px solid #fff; }
.hubei-gzpart span.time-gzpart1nr { width: 185px; font-size: 14px; margin: 0 auto; text-align: left; }
.hubei-gzpart span.hubei-title { font-size: 22px; margin-bottom: 20px; }
.left-icon a { display: inline-block; width: 28px; height: 130px; background: url(../img/left.png) center  no-repeat  #f1f2f3}
.left-icon a:hover{width: 28px; height: 130px; display: inline-block; background: url(../img/left-icon.png) center no-repeat #f1f2f3;}
.right-icon a {display: inline-block;  width: 28px; height: 130px; background: url(../img/right.png) center  no-repeat #f1f2f3}
.right-icon a:hover{ width: 28px; height: 130px; display: inline-block; background: url(../img/right-icon.png) center no-repeat #f1f2f3;}
.in-yztg { width: 930px; overflow: hidden;    display: flex; }
.jsz { color: #737f9e; }
.jsz u { padding: 0 5px; background: #f1f2f3; text-decoration: none; }
.jsz span { width: 100px; height: 1px; display:block; border-bottom: 1px solid #737f9e;  margin: 0 auto; margin-top: -11px;}
.loginhou1 {line-height: 90px; margin-left: 90px;  font-size: 14px; color: #605f5f;}
.loginhou2 { margin:25px 0 0 90px;  font-size: 14px; color: #605f5f;}
.loginhou2 u { text-decoration: none; color: #4368ba; }
.loginhou2 a { color: #999; }

.hubei-gzpart1 {width: 250px; height: 360px; background: rgba(3,11,23,0.05);}
.hubei-gzpart2 {width: 250px; height: 360px;}
.hubei-gzpart1 span,.hubei-gzpart2 span { display: block; text-align: center; font-size: 16px;}
.hubei-gzpart1 span img,.hubei-gzpart2 span img { margin: 103px 0 10px 0; padding-bottom: 20px; border-bottom: 1px solid #fff; }
.login-nr1 { padding:30px; margin: 0 auto; text-align: center; color: #fff; }
.login-button1 a{ width: 220px; height: 40px; display: block; line-height: 40px; background: #60a9e8; font-size: 20px; color: #fff; border-radius: 5px; }
.login-button1 a:hover {background: #9cccf4;}
.login-button2 a{ width: 220px; height: 40px; display: block; line-height: 40px; background: #4368ba; font-size: 20px; color: #fff; border-radius: 5px;  margin-top: 10px;}
.login-button2 a:hover {background: #6a8cd5;}
/* mxx7-12修改，替换 */
/* .login-button3 a{ width: 220px; height: 40px; display: block; line-height: 40px; background: #e3eafa; font-size: 20px; color: #58637b; border-radius: 5px;  margin-top: 10px;} */
.login-button3 a{ width: 220px; height: 35px; display: block; line-height: 35px; background: #e3eafa; font-size: 20px; color: #58637b; border-radius: 5px;  margin-top: 5px;}
.login-button3 a:hover {background: #e2e6f0;}


.small-picdian { position: absolute; bottom: 0; height: 40px; line-height: 40px; width: 388px; padding-left: 12px; background: rgba(0,0,0,0.3); }
.small-picdian2 { position: absolute; bottom: 0; height: 40px; line-height: 40px; width: 408px; padding-left: 12px; background: rgba(0,0,0,0.3); }
.small-picdian ul,.small-picdian2 ul { float: right; margin-right: 20px;}
.small-picdian li,.small-picdian2 li{ display: inline-block; width: 9px; height: 9px; margin: 0 2px; border-radius: 5px; background: #fff; }
.small-picdian li.on,.small-picdian2 li.on {background: #453abd;}
.in-goodsa li { float: left; margin-bottom: 20px; }
.time-gzpart2 {float: left; width: 144px; height: 314px; height: 292px; padding: 1px 20px 0 20px; background: #f3f3f3; color: #666666; }
.time-gzpart2 .time-gzpart1nr { height: 84px; }
.time-gzpart2 span { display: block; text-align: center; font-size: 16px; margin-top: 5px;}
.time-gzpart2 span img { margin: 25px 0 5px 0;}
.time-gzpart2 span.time-gzpart1nr { font-size: 14px; color: #aaa; padding: 0 5px; }
.time-gzpart2 a.time-gzpart1an { display: inline-block; width: 140px; height: 34px; line-height: 34px; margin-top: 10px; color: #226fb6; border: 1px solid #226fb6; border-radius: 5px;  }
.time-gzpart1 .time-gzpart1an:hover {background: #226fb6; color: #ffffff;}
.in-goodsjc { position: relative; z-index: 2; top: 18px; width: 184px; height: 50px; line-height: 44px;  background: url(../img/icon9.png) 28px center no-repeat; text-align: center; color: #766c4c; }

.anniu a:hover { background: #226fb6; color: #fff;} 




/* 404报错页面 */
.error { text-align: center; font-size: 18px; }
.error-pic {font-size: 24px; color: #d54a51; margin-bottom: 15px;}
.error-pic img { vertical-align: middle; margin-top: -3px; margin-right: 8px;}
.error-back { width: 171px; height: 41px; line-height: 41px; margin: 0 auto; margin-bottom: 90px;  background: #226fb6; border-radius: 5px;}
.error-back a {display: block; margin: 30px 0 40px 0;  color: #fff;}
/* 客服中心页面 */
.left-menu { width: 170px; margin: 20px 0; font-size: 14px; background: #f2f2f2;}
.left-menu li{ height: 50px; line-height: 50px; padding: 0 20px;}
.left-menu li img { margin-right: 8px;}
.left-menu li span {display: inline-block;float: right;margin-right: -8px;}
.left-menu li a.on,.left-menu li a:hover { color: #226FB6;}
.left-mktitle {background: #136ab1; color: #fff; margin: 0 auto;}
.left-mktitle img { vertical-align: middle; margin:-2px 4px 0 25px;}
.right-content { width: 808px; margin-top: 20px; margin-bottom: 50px; border: 1px solid #e3e3e3; padding-bottom: 50px; }
.right-content-title { height: 50px; line-height: 50px; font-size: 14px; color: #333; background: #f1f2f3; margin-bottom: 20px;}
.right-content-title img { margin: 0 5px 0 25px;}
.right-ctpublic {width: 740px; margin: 0 auto;}
.kehu-center { clear: both; margin-top: 20px;}
.kehu-ct-title { border-bottom: 1px solid #f0f0f0; margin-top: 26px;}
.kehu-ct-title u { font-size: 16px; color: #136ab0; text-decoration: none; border-bottom: 2px solid #136ab0; padding-bottom: 2px;}
.kehu-ct-centent { width: 400px; font-size: 14px; margin-top: 40px; line-height: 26px; text-indent: 2em;}
.kehu-ct-centent p{ margin-bottom: 10px;}
.kehu-ct-centent em { font-size: 24px; }
.kehu-ct-pic { width: 260px; margin-top: 20px;}
.kehu-ct-pic img { display: block; margin-bottom: 10px;}
.kehu-map { margin: 30px 0;}
.kehu-erweima li { float: left; font-size: 16px; margin-top: 30px; margin-bottom: 30px; }
.kehu-erweima .kuhu-juli { margin-right: 102px;}
.kehu-erweima li img { border: 3px solid #d8dbdf;}
.right-ctpublic1 { width:730px ; margin: 0 auto; }
.kefu-video li { float: left; padding-top: 10px; }
.kefu-video p { width: 340px; margin-bottom: 20px; }
.kefu-video .kuhu-juli img{ margin-right: 50px;}
.kefu-video u { display: inline-block; float: right; text-decoration: none; color: #999; }

.kefu-fankui { padding: 20px 62px; }



/* 常见问题 */
.kefu-allwent { margin-top: 20px; color: #666666; }
.kefu-allwent li { margin-top: 20px; }
.kefu-question { height: 50px; line-height: 50px; background: #f2f2f2; border-radius: 4px; }
.kefu-question span{float: left; display: block; width: 26px; height: 26px; text-align: center; line-height: 26px;  margin:10px 10px 0px 20px;background: #5f8ec2; color: #fff; }
.kefu-question .icon-ring{ margin-top: 18px; margin-right: 10px; border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 10px solid #cdcdcd;font-size: 0px;display: inline-block;float: right;}
.kefu-question .icon-down{ margin-top: 22px; margin-right: 10px; border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 10px solid #cdcdcd;font-size: 0px;display: inline-block;float: right;}
.kefu-answer { padding: 10px 10px 40px 0; background: #fff;border: 1px solid #f2f2f2; border-radius: 4px;}
.kefu-answer span {float: left; display: block; width: 26px; height: 26px; text-align: center; line-height: 26px;  margin:5px 10px 0px 20px;background: #5f8ec2; color: #fff; }

.kefu-wbk dt {display: inline-block; width: 80px; line-height: 44px; text-align: right; margin-right: 20px;margin-top: 20px; padding-left: 5px;}
.kefu-wbk dt img{ vertical-align: middle; }
.kefu-textk input{ width: 317px; height: 42px; background: #f6f9fb; border: 1px solid #e6e9ec;margin-top: 20px; outline: none; }
.kefu-textk textarea{ width: 532px; height: 102px;  background: #f6f9fb; border: 1px solid #e6e9ec;margin-top: 20px; padding: 5px; outline: none; }
.kefu-textk p span { margin-top: 20px;}
.kefu-textk p .kefu-xzanniu { width: 96px; height: 39px; line-height: 39px; text-align: center; color: #fff; display: inline-block; background: #738fa4; margin-right: 10px;}
.kefu-textk p .kefu-xzanniu1 { width: 96px; height: 44px; line-height: 39px; text-align: center; color: #fff; display: inline-block; background: #d2d6c8; margin-right: 10px;}
.kefu-textk p .kefu-xzanniu1 img { margin-top: 5px; }
.kefu-textk .kefu-inupt { position: relative; top: -8px; display: inline-block; width: 148px; height: 42px; background: #f6f9fb; border: 1px solid #e6e9ec; outline: none; margin-left: 20px; }
.kefu-textk p .kefu-xzanniu2 {position: relative; top: -10px;  width: 96px; height: 44px; line-height: 39px; text-align: center; color: #fff; display: inline-block; background: #738fa4; margin-left: 20px;}
.kefu-shouli p{ margin: 20px 0 23px 0;}
.kefu-shouli p u { text-decoration: none; color: #f53535; }
.kefu-shouli li { line-height: 28px; }


.zd-downlogntitle {float: left; display: inline-block; width: 660px; height: 40px; line-height: 40px; padding-left: 30px; background: #f1f2f4; border-radius: 5px; }
.zd-downlogndian {float: right; }
.zd-downlogndian a {display: inline-block; width: 140px; height: 40px; line-height: 40px; text-align: center; background: #226fb6; border-radius: 5px; color: #fff; }


/* 口岸咨询 */
.pubilc-jl { margin-bottom: 50px;}
.advert1 { width: 400px; font-size: 14px;}
.advert1 .ad-list li i{ width: 2px; height: 2px; display: inline-block;margin-bottom: 4px;margin-right: 5px; background: #333; }
.advert1 .ad-list a { float: left;width:300px; margin-top: 9px;  display:block;color: #666; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }
.advert1 .ad-list a:hover {color:#4879bc;}
.advert1 .ad-list span {float: right; display:block;margin-top: 9px;width: 100px; color: #999999; text-align: right;}
.ad-list dl { margin-top: 5px; }
.ad-list dt { float: left; margin-right: 20px; }
.ad-list dt img { display: block; }
.ad-list dd { float: left;} 
.ad-list-tltle { font-size: 16px; color: #333; }
.ad-list dd a.ad-list-nr {width:400px; line-height: 26px; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;white-space: inherit;}
.advert2 { width: 560px;font-size: 14px;}
.advert2 .ad-list li i{ width: 2px; height: 2px; display: inline-block;margin-bottom: 4px;margin-right: 5px; background: #333; }
.advert2 .ad-list a { float: left;width:460px; margin-top: 9px;  display:block;color: #666; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }
.advert2 .ad-list a:hover {color:#4879bc;}
.advert2 .ad-list span {float: right; display:block;margin-top: 9px;width: 100px; color: #999999; text-align: right;}
.new-list { margin-top: 10px; }
.new-list li { height: 50px; line-height: 50px; border-bottom: 1px dashed #e4e4e4; }
.new-list li a { float: left;width:630px;color: #666; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }
.new-list a:hover {color:#4879bc; text-decoration: underline;}
.new-list li i {width: 4px;height: 4px;display: inline-block;margin-bottom: 4px;margin-right: 5px; border-radius: 4px; background: #106bb1;}
.new-list li span {float: right; display:block;width: 100px; color: #999999; text-align: right;}
.fenye { width: 750px; height: 50px;line-height: 50px; margin: 0 auto; padding-top: 50px; text-align: center; }
.fenye li { display: inline-block; }
.fenye li a{ padding: 8px 14px; background: #f0f0f0; border: 1px solid #d4dae6; color: #828aa1;}
.fenye li a:hover {border: 1px solid #8389a1;}
.fenye li a.on { color: #fff; background: #608abc; border: 1px solid #608abc;}

/* 文章详情 */
.center-content1 {width: 1000px; margin-top: 20px; margin-bottom: 50px; }
.center-content {width: 1000px; margin-top: 20px; margin-bottom: 50px; border: 1px solid #e3e3e3; padding-bottom: 50px; }
.cc-content { width: 850px; margin: 0 auto; padding-top: 20px; }
.cc-center-title { height: 40px; line-height: 40px; font-size: 20px; color: #415fa2; text-align: center; border-bottom: 1px solid #e3e3e3; }
.cc-center-time { text-align: center; color: #999; font-size: 12px; margin: 10px 0; }
.cc-center-nr { text-indent: 2em; line-height: 25px; color: #646464;}

/* 口岸应用 */
.goods-jinchu { width: 179px; height: 140px;line-height: 135px; text-align: center;  font-size: 22px; color: #fff;background: url(../img/icon30.png) no-repeat;  }
.goods-jinchu1 { width: 179px; height: 140px;line-height: 28px; text-align: center;  font-size: 22px; color: #fff;background: url(../img/icon31.png) no-repeat;  }
.goods-jinchu p{ width:114px; text-align: center; margin: 0 auto; }
.goods-jinchu1 p  { width:114px; padding-top: 45px;  text-align: center; margin: 0 auto; }
.goods-jcnr { width: 819px;min-height: 138px;overflow: hidden; border: 1px solid #e3e3e3; }
.goods-alljcxt li {display: inline-block;}
.goods-alljcxt .goods-juli li { margin-bottom: 15px; }
.goods-jctitle { float: left; width: 715px;min-height: 118px;border-right: 1px solid #e3e3e3; margin: 4px 0;}
.goods-jctitle p { margin-left: 15px; }
.goods-jctitle a { display: inline-block; margin:5px; padding: 6px 12px; background: #f1f2f4; }
.goods-jctitle a:hover { color: #2f6ff1; }
.goods-jcmore { float: left; width: 103px; line-height: 138px; vertical-align: middle; text-align: center; color: #999;  }
/* 数据查询 */
.serche-jcnr { width: 829px;min-height: 138px;overflow: hidden;border-top: 1px solid #ededed; border-right: 1px solid #ededed;border-bottom: 1px solid #ededed; }
.serche-ziduan1 {min-height: 198px;}
.serche-ziduan a,.serche-ziduan1 a{width:134px; height: 32px; line-height: 32px; background: #f1f2f4; display: inline-block; text-align: center; margin-top: 10px;  margin-left: 24px;}
.serche-ziduan a:hover,.serche-ziduan1 a:hover,.serche-ziduan2 li a:hover { color: #4879bc; }
.serche-ziduan2 { margin: 10px 0 8px 0;}
.serche-ziduan2 li { margin: 4px 0;}
.serche-ziduan2 li span { float: left; width:134px; height: 32px; line-height: 32px;display: inline-block; background: #d2dcef;text-align: center; margin-left: 26px; }
.serche-ziduan2 li a{ float: left; width:134px; height: 32px; line-height: 32px; background: #f1f2f4; display: inline-block; text-align: center; }
.serche-tongji { margin-top: 20px; }
.serche-tjtitle .on { display: inline-block; width: 91px; height: 36px; line-height: 36px;padding-left: 20px; color: #fff; background: url(../img/toupic39.jpg) no-repeat; }
.serche-tjtitle .no-choose { display: inline-block; width: 91px; height: 36px; line-height: 36px;padding-left: 20px; color: #666666; background: url(../img/toupic40.jpg) no-repeat; }
.serche-tjnr { width: 998px; padding: 50px 0; margin: 0 auto; text-align: center; border: 1px solid #ededed; }
.serche-tjnr a { color: #226fb5; }
.tongji-table { width: 500px; margin-top: 20px; color: #666; }
.tongji-table img { width: 50%; margin: 20px 20px 20px 0; }
.tongji-table select { width: 80px; height: 28px; margin-left: 10px; background: #eeeeee; border: none; outline: none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.tongji-tableno { font-size: 12px; color:#999;  margin-top: 5px;}

/* 长江经济带 */
.cj-money { width: 560px; margin-left: 20px; }
.cj-history { height: 40px; line-height: 40px; padding-left: 45px; margin:12px 0 20px 0 ; background: url(../img/toupic27.jpg) no-repeat; font-size: 16px; color: #fff; }
.cj-history .ad-more {float: right;display: inline-block;margin-right: 10px; font-size: 16px; color: #999;}
.cj-historynr { width: 536px; line-height: 23px; color: #666666; }
.cj-historynr em{ font-size: 18px; }
.time-gzpart1 {float: left; width: 191px; height: 314px; padding: 1px 22px 0 22px; background: url(../img/icon9.png) center 0 no-repeat #f3f3f3; color: #666666; }
.time-gzpart1-juli { margin-right: 20px; }
.time-gzpart1 span { display: block; text-align: center; font-size: 16px; margin-top: 5px;}
.time-gzpart1 span img { margin: 20px 0 10px 0; padding-bottom: 20px; border-bottom: 1px solid #226fb6; }
.time-gzpart1 span.time-gzpart1nr { font-size: 14px; }
.time-gzpart1 a.time-gzpart1an { display: inline-block; width: 183px; height: 34px; line-height: 34px; margin-top: 35px; color: #226fb6; border: 1px solid #226fb6; border-radius: 5px;  }
.cj-peisong { width: 490px; font-size: 14px; }
.cj-peisong .ad-list1 li i{ width: 4px; height: 4px; display: inline-block;margin-bottom: 4px;margin-right: 5px; background: #4b74cd; border-radius: 2px; }
.cj-peisong .ad-list1 a { float: left;width:390px; margin-bottom: 9px;  display:block;color: #666; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }
.cj-peisong .ad-list1 a:hover {color:#4879bc;}
.cj-peisong .ad-list1 span {float: right; display:block;margin-bottom: 9px;width: 100px; color: #999999; text-align: right;}
.cj-peisong .juli { margin-right: 20px; margin-bottom: 17px;}
.sy-system li{ float: left; width:226px; height: 110px; padding: 19px 0; margin-top: 12px; color: #666666; background: #f3f3f3; text-align: center;}
.sy-system li img { margin-bottom: 17px; }
.sy-system li.juli { margin: 12px 32px 20px 0; }




/* 注册 */
.zhuce { border: 1px solid #ececec; padding-bottom: 50px; margin-top: 40px; margin-bottom:50px;}
.zhuce ul { font-size: 14px;}
.zhuce ul li{ margin-bottom: 20px;}
.zhcue-title { height: 50px; line-height: 50px; font-size: 16px; background: #eee; }
.zhcue-title span { border-left: 4px solid #00a0e9; padding: 5px 0 5px 10px;}
.zhcue-title a {display: inline-block; margin-left:840px;color: #226fb6;}
.zhcue-qytitle {width: 232px; height: 40px; line-height: 40px; text-align: center;font-size: 16px; color: #fff;  margin-top:40px ; background: url(../img/toupic22.jpg) no-repeat;}
.zhuce-bitian span,.zhuce-bitian1 span { display: inline-block; width: 305px; text-align: right;}
.zhuce-bitian input { width: 350px; height: 40px; margin-left: 10px; padding-left: 5px; font-size: 14px; border: 1px solid #dbdbdb; border-radius: 5px; outline: none;}
.zhuce-bitian em { width: 196px; height: 40px; line-height: 40px; text-align: center; margin-left: 5px; display: inline-block; color: #fff; background: url(../img/toupic24.jpg) no-repeat;}
.zhuce-bitian1 input{ width: 190px; height: 40px; margin-left: 10px; padding-left: 5px; font-size: 14px; border: 1px solid #dbdbdb; border-radius: 5px; outline: none;}
.zhuce-bitian1 a { width: 140px; height: 44px; display: inline-block; background: url(../img/toupic23.jpg) no-repeat center center #e5e5e5; margin-bottom: -16px; margin-left: 18px;border-radius: 5px;}
.zhuce-button {width:350px; height:50px; line-height: 50px; text-align: center; background:#3f5c86; margin: 0 auto; margin-top: 30px; font-size: 16px; color: #fff; border-radius: 4px; cursor: pointer;}
.zhuce-button:hover { background: #5c7aa5;}



/* 底部 */
.footer { clear: both; width: 100%; padding: 20px 0; color: #999999; background: #e8e8e8; text-align: center;}
.youqing-link { margin-left: 174px; }
.youqing-link li {position: relative; float: left; line-height: 28px; margin-bottom: 10px; color: #999999; }
.youqing-link li select { width: 180px;  height: 28px; background: #fff;color: #666666; font-size: 14px; margin: 0 10px; padding: 0px 10px; outline: none;border: 1px solid #c4c4c4;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.youqing-link li .icon-xiangxiajiantou { position: absolute;left: 165px; top: 0px; font-size: 20px; }

.footer-nav li{ float: left;text-align: left; color: #bac4d6; font-size: 16px; margin-bottom:15px;}
.footer-nav li p { margin-left: 11px;font-size: 14px; margin-top: 5px; }
.footer-nav li a{ color: #7389af; }
.footer-nav li.yq-linkli {width: 154px; }
.footer-nav li.yq-linkli1 {width: 160px; }
.footer-nav li i {position: relative; top: -3px;right: 10px; width: 3px; height: 3px; display: inline-block; border-radius: 10px; background:#7389af;}
.footer .samll-footer { background: #252d3a; color: #7b8188; padding: 20px 0;}

.footer1{clear: both;width: 100%;padding: 20px 0;background: #e8e8e8;text-align: center;}
.footer-nav1 li {float: left;width: 125px;text-align: center;font-size: 14px;margin-bottom: 15px;}
.footer-nav1 li i {position: relative;top: -3px;right: 10px;width: 3px;height: 3px;display: inline-block;border-radius: 10px;background: #a3a3a3;}
.footer1 p {color: #999;}

