<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wheport.ics.dao.CarouselImageInfoMapper">
  <resultMap id="BaseResultMap" type="org.wheport.ics.domain.pojo.CarouselImageInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="carousel_name" jdbcType="VARCHAR" property="carouselName" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="img_desc" jdbcType="VARCHAR" property="imgDesc" />
    <result column="carousel_cat_id" jdbcType="INTEGER" property="carouselCatId" />
    <result column="play_sort" jdbcType="INTEGER" property="playSort" />
    <result column="work_status" jdbcType="VARCHAR" property="workStatus" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_operator" jdbcType="VARCHAR" property="addOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        carousel_name AS carouselName , 
        img_url AS imgUrl , 
        img_desc AS imgDesc , 
        carousel_cat_id AS carouselCatId , 
        play_sort AS playSort , 
        work_status AS workStatus , 
        add_time AS addTime , 
        add_operator AS addOperator , 
        update_time AS updateTime , 
        update_operator AS updateOperator  
    FROM 
        carousel_image_info
  </select>
</mapper>