<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wheport.ics.dao.CarouselImageCatMapper">
  <resultMap id="BaseResultMap" type="org.wheport.ics.domain.pojo.CarouselImageCat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cat_name" jdbcType="VARCHAR" property="catName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_operator" jdbcType="VARCHAR" property="addOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        cat_name AS catName , 
        parent_id AS parentId , 
        add_time AS addTime , 
        add_operator AS addOperator , 
        update_time AS updateTime , 
        update_operator AS updateOperator  
    FROM 
        carousel_image_cat
  </select>
</mapper>