<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wheport.ics.dao.FriendLinkInfoMapper">
  <resultMap id="BaseResultMap" type="org.wheport.ics.domain.pojo.FriendLinkInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="friend_link_name" jdbcType="VARCHAR" property="friendLinkName" />
    <result column="friend_link_url" jdbcType="VARCHAR" property="friendLinkUrl" />
    <result column="friend_link_img_url" jdbcType="VARCHAR" property="friendLinkImgUrl" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="work_status" jdbcType="VARCHAR" property="workStatus" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_operator" jdbcType="VARCHAR" property="addOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        cat_id AS catId , 
        friend_link_name AS friendLinkName , 
        friend_link_url AS friendLinkUrl , 
        friend_link_img_url AS friendLinkImgUrl , 
        sort AS sort , 
        work_status AS workStatus , 
        add_time AS addTime , 
        add_operator AS addOperator , 
        update_time AS updateTime , 
        update_operator AS updateOperator  
    FROM 
        friend_link_info
  </select>
</mapper>