<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wheport.ics.dao.GraphicsContextMapper">
  <resultMap id="BaseResultMap" type="org.wheport.ics.domain.pojo.GraphicsContext">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="work_status" jdbcType="VARCHAR" property="workStatus" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_operator" jdbcType="VARCHAR" property="addOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        name AS name , 
        link_url AS linkUrl , 
        img_url AS imgUrl , 
        cat_id AS catId , 
        sort AS sort , 
        work_status AS workStatus , 
        add_time AS addTime , 
        add_operator AS addOperator , 
        update_time AS updateTime , 
        update_operator AS updateOperator , 
        content AS content  
    FROM 
        graphics_context
  </select>
</mapper>