<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wheport.ics.dao.RelModuleActionCatMapper">
  <resultMap id="BaseResultMap" type="org.wheport.ics.domain.pojo.RelModuleActionCat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="module_id" jdbcType="INTEGER" property="moduleId" />
    <result column="action_cat_id" jdbcType="INTEGER" property="actionCatId" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="img_url2" jdbcType="VARCHAR" property="imgUrl2" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_operator" jdbcType="VARCHAR" property="addOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        module_id AS moduleId , 
        action_cat_id AS actionCatId , 
        img_url AS imgUrl , 
        img_url2 AS imgUrl2 , 
        english_name AS englishName , 
        status AS status , 
        sort AS sort , 
        add_time AS addTime , 
        add_operator AS addOperator , 
        update_time AS updateTime , 
        update_operator AS updateOperator  
    FROM 
        rel_module_action_cat
  </select>
</mapper>