<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wheport.ics.dao.UamsRelActionRoleMapper">
  <resultMap id="BaseResultMap" type="org.wheport.ics.domain.pojo.UamsRelActionRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="action_id" jdbcType="INTEGER" property="actionId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_operator" jdbcType="VARCHAR" property="addOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
  </resultMap>
  <select id="selectByGen">
    <!-- 
    WARNING - @mbg.generated  
    -->  
    SELECT 
        id AS id , 
        action_id AS actionId , 
        role_id AS roleId , 
        add_time AS addTime , 
        add_operator AS addOperator , 
        update_time AS updateTime , 
        update_operator AS updateOperator  
    FROM 
        uams_rel_action_role
  </select>

    <select id="selectAllowAction" resultMap="BaseResultMap">
        SELECT
            a.id AS id ,
            a.action_id AS actionId ,
            a.role_id AS roleId ,
            a.add_time AS addTime ,
            a.add_operator AS addOperator ,
            a.update_time AS updateTime ,
            a.update_operator AS updateOperator
        FROM
        uams_rel_user_role u
        RIGHT JOIN uams_rel_action_role a ON u.role_id = a.role_id
        <where>
            <if test="userId !=null and userId!=''">
                and u.user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>